fastapi
uvicorn[standard]
psycopg2-binary
langgraph
langchain
langchain-ollama
langchain-community
langchain-text-splitters
faiss-cpu
pandas
pypdf
httpx
python-jose[cryptography]
python-dotenv
requests
tavily-python
docx2txt
python-pptx
